<div>
<app-estudante-form [estudante]="Estudante"(saveEvent)="OnSaveEvent($event)"></app-estudante-form>
  <table class="table table-responsive mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Endereço</th>
        <th scope="col">CPF</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let estudante of Estudantes">
        <th scope="row">{{estudante.id}}</th>
        <td>{{estudante.name}}</td>
        <td>{{estudante.email}}</td>
        <td>{{estudante.location}}</td>
        <td>{{estudante.cpf}}</td>
        <td>
          <button class="btn btn-outline-secondary me-2" (click)="edit(estudante)">Editar</button>
          <button class="btn btn-outline-danger" (click)="delete(estudante)">Deletar</button>
        </td>
      </tr>
    </tbody>

  </table>
</div>
